apiVersion: v1
kind: ServiceAccount
metadata:
  name: airflow
  namespace: fraud-detection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: airflow-role
  namespace: fraud-detection
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch", "create", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: airflow-role-binding
  namespace: fraud-detection
subjects:
  - kind: ServiceAccount
    name: airflow
    namespace: fraud-detection
roleRef:
  kind: Role
  name: airflow-role
  apiGroup: rbac.authorization.k8s.io
